<!DOCTYPE html>
<html lang="en">
<head>
    <title>Education</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <br>
        <br>
        <div class="row">
          <div class="column">
            <h3>Education</h3>
            <div class="form-group">
                    <label for="level">Select Classification Level</label>
                    <select class="form-control" name="level" required>
                      <option>Freshman</option>
                      <option>Sophomore</option>
                      <option>Junior</option>
                      <option>Senior</option>
                    </select>
                  </div>
                  <div class="form-group">
                        <label for="level">Full or Part-Time Undergraduate Student</label>
                                <div class="radio-inline">
                                    <input data-val="true" data-val-required="The Full or Part-Time Undergraduate Student field is required." id="PartTimeStudent" name="PartTimeStudent" type="radio" value="N"> Full-time Student
                                </div>
                                <div class="radio-inline">
                                    <input id="PartTimeStudent" name="PartTimeStudent" type="radio" value="Y"> Part-time Student
                                </div>
                            <span class="field-validation-valid" data-valmsg-for="PartTimeStudent" data-valmsg-replace="true"></span>
                    </div>
                <div class="form-group">
                  <label for="Intended or Declared College Major">Intended or Declared College Major</label>
                  <div class>
                        <select class="form-control" data-val="true" data-val-required="The Intended or Declared College Major field is required." id="PrimaryMajor" name="PrimaryMajor"><option selected="selected" value="">-Select One-</option>
                                <option value="Accounting">Accounting</option>
                                <option value="Actuarial_Science">Actuarial Science</option>
                                <option value="Administration">Administration</option>
                                <option value="Advertising">Advertising</option>
                                <option value="Aerospace_Engineering">Aerospace Engineering</option>
                                <option value="African_American_Studies">African American Studies</option>
                                <option value="Agricultural_Science">Agricultural Science</option>
                                <option value="Animal_Health_Science">Animal Health Science</option>
                                <option value="Animal_Science">Animal Science</option>
                                <option value="Arabic">Arabic</option>
                                <option value="Architecture">Architecture</option>
                                <option value="Art">Art</option>
                                <option value="Asian_Studies">Asian Studies</option>
                                <option value="Banking">Banking</option>
                                <option value="Biochemistry">Biochemistry</option>
                                <option value="Biology">Biology</option>
                                <option value="Biomedical_Engineering">Biomedical Engineering</option>
                                <option value="Business">Business</option>
                                <option value="Business_Administration">Business Administration</option>
                                <option value="Business_Analytics">Business Analytics</option>
                                <option value="Business_Information_Systems">Business Information Systems</option>
                                <option value="Business_Management">Business Management</option>
                                <option value="Business_Operations">Business Operations</option>
                                <option value="Chemical_Engineering">Chemical Engineering</option>
                                <option value="Chemistry">Chemistry</option>
                                <option value="Chinese">Chinese</option>
                                <option value="Civil_Engineering">Civil Engineering</option>
                                <option value="Communications">Communications</option>
                                <option value="Computer_Engineering">Computer Engineering</option>
                                <option value="Computer_Information_Systems">Computer Information Systems</option>
                                <option value="Computer_Programming">Computer Programming</option>
                                <option value="Computer_Science">Computer Science</option>
                                <option value="Computer_Technology">Computer Technology</option>
                                <option value="Construction">Construction</option>
                                <option value="Criminal_Justice">Criminal Justice</option>
                                <option value="Cybersecurity">Cybersecurity</option>
                                <option value="Data_Analytics">Data Analytics</option>
                                <option value="Economics">Economics</option>
                                <option value="Education">Education</option>
                                <option value="Electrical_Engineering">Electrical Engineering</option>
                                <option value="Electronic_Data_Processing">Electronic Data Processing</option>
                                <option value="Electronic_Engineering">Electronic Engineering</option>
                                <option value="Engineering">Engineering</option>
                                <option value="English">English</option>
                                <option value="Environmental_Engineering">Environmental Engineering</option>
                                <option value="Environmental_Science">Environmental Science</option>
                                <option value="Fashion_Design">Fashion Design</option>
                                <option value="Fashion_Merchandising">Fashion Merchandising</option>
                                <option value="Finance">Finance</option>
                                <option value="Food_Retail">Food Retail</option>
                                <option value="Food_Science">Food Science</option>
                                <option value="Food_Service">Food Service</option>
                                <option value="French">French</option>
                                <option value="Geology">Geology</option>
                                <option value="Geosciences">Geosciences</option>
                                <option value="German">German</option>
                                <option value="Graphic_Design">Graphic Design</option>
                                <option value="Graphic_Designer">Graphic Designer</option>
                                <option value="Greek">Greek</option>
                                <option value="Health">Health</option>
                                <option value="Health_Care_Administration">Health Care Administration</option>
                                <option value="Hindi">Hindi</option>
                                <option value="History">History</option>
                                <option value="Hospital_Administration">Hospital Administration</option>
                                <option value="Hospitality">Hospitality</option>
                                <option value="Hotel_Management">Hotel Management</option>
                                <option value="Human_Resources">Human Resources</option>
                                <option value="Hydro_Water_Resources_Engineer">Hydro/Water Resources Engineer</option>
                                <option value="Industrial and Labor Relations">Industrial and Labor Relations</option>
                                <option value="Industrial_Engineering">Industrial Engineering</option>
                                <option value="Industrial_Psychology">Industrial Psychology</option>
                                <option value="Informatics">Informatics</option>
                                <option value="Information_Systems">Information Systems</option>
                                <option value="Information_Technology">Information Technology</option>
                                <option value="Insurance">Insurance</option>
                                <option value="International_Business">International Business</option>
                                <option value="Italian">Italian</option>
                                <option value="Japanese">Japanese</option>
                                <option value="Journalism">Journalism</option>
                                <option value="Land_Management">Land Management</option>
                                <option value="Latin">Latin</option>
                                <option value="Law">Law</option>
                                <option value="Liberal_Arts">Liberal Arts</option>
                                <option value="Management">Management</option>
                                <option value="Management_Information_Systems">Management Information Systems</option>
                                <option value="Management_Science">Management Science</option>
                                <option value="Marketing">Marketing</option>
                                <option value="Marketing_and_International_Business">Marketing and International Business</option>
                                <option value="Materials_Science">Materials Science</option>
                                <option value="Mathematics">Mathematics</option>
                                <option value="Mechanical_Engineering">Mechanical Engineering</option>
                                <option value="Mechatronics">Mechatronics</option>
                                <option value="Medical_Technology">Medical Technology</option>
                                <option value="Metallurgical_Engineering">Metallurgical Engineering</option>
                                <option value="Mining_Engineering">Mining Engineering</option>
                                <option value="Not_Listed">Not Listed</option>
                                <option value="Nuclear_Engineering">Nuclear Engineering</option>
                                <option value="Nursing">Nursing</option>
                                <option value="Operations_Research">Operations Research</option>
                                <option value="Organizational_Behavior">Organizational Behavior</option>
                                <option value="Personnel_Management">Personnel Management</option>
                                <option value="Petroleum_Engineering">Petroleum Engineering</option>
                                <option value="Pharmacy">Pharmacy</option>
                                <option value="Physical_Therapy">Physical Therapy</option>
                                <option value="Physics">Physics</option>
                                <option value="Physiology">Physiology</option>
                                <option value="Political_Science">Political Science</option>
                                <option value="Portuguese">Portuguese</option>
                                <option value="Pre_Law">Pre-Law</option>
                                <option value="Pre_Medicine">Pre-Medicine</option>
                                <option value="Project_Management">Project Management</option>
                                <option value="Psychology">Psychology</option>
                                <option value="Public_Relations">Public Relations</option>
                                <option value="Real_Estate">Real Estate</option>
                                <option value="Respiratory_Therapy">Respiratory Therapy</option>
                                <option value="Restaurant_Management">Restaurant Management</option>
                                <option value="Retail">Retail</option>
                                <option value="Retail_Management">Retail Management</option>
                                <option value="Retailing">Retailing</option>
                                <option value="Risk_Management">Risk Management</option>
                                <option value="Robotics_Engineering">Robotics Engineering</option>
                                <option value="Russian">Russian</option>
                                <option value="Sales">Sales</option>
                                <option value="Science">Science</option>
                                <option value="Social_Science">Social Science</option>
                                <option value="Software_Development">Software Development</option>
                                <option value="Software_Engineering">Software Engineering</option>
                                <option value="Spanish">Spanish</option>
                                <option value="Sports_Management">Sports Management</option>
                                <option value="Structural_Engineering">Structural Engineering</option>
                                <option value="Supply_Chain_Management">Supply Chain Management</option>
                                <option value="Systems_Analysis">Systems Analysis</option>
                                <option value="Systems_Engineering">Systems Engineering</option>
                                <option value="Television_Broadcasting">Television Broadcasting</option>
                                <option value="Transportation">Transportation</option>
                                <option value="Transportation_Logistics">Transportation Logistics</option>
                                <option value="Undeclared">Undeclared</option>
                                <option value="Veterinary">Veterinary</option>
                        </select>
                        <span class="field-validation-valid" data-valmsg-for="PrimaryMajor" data-valmsg-replace="true"></span>
                    </div>
                </div>
                
                        
                          <button type="next" class="btn btn-primary" value="save">Next</button>
                          <div>
                            <button type="button" class="btn btn-link"><a href="Login">Cancel<a></button>
                          </div>
                      </form>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
