<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact Mentor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <br>
        <br>
        <div class="row">
          <div class="column">
            <h3>Contact Mentor</h3>
                <p>Mentor: Alan Turing<br>
                  Email: <a href="mailto:name@email.com">cs@every.edu</a><br>
                  Phone: (555) 555-5555<br>
                </p>
                Select Message Type: <br>
                          <button type="email" class="btn btn-primary" value="save">Email</button>
                          
                          
                            <button type="button" class="btn btn-primary" value="save">Text<a></button>
                              <br>
                        <div class="span6">
                          <label for="messagebox">Message:</label><br>
                          <textarea class="span6" rows="3" placeholder="Enter Message Here" required></textarea>
                        </div>  
                         <button type="button" class="btn btn-primary" value="save">Send<a></button>
                              <br>                        
                      </form>
                </form>
            </div>
        </div>
    </div>
</body>
</html>