<html lang="en">
<head>
    <title>New Student Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <br>
        <br>
        <div class="row">
          <div class="column">
            <h3>Login</h3>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" required placeholder="Enter Your Email">
            </div>

            <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" name="password" required placeholder="Enter Your Password">
            </div>

            <button class="btn btn-primary" type="button">Login</button>
            <button type="next" class="btn btn-primary" value="save">Forgot Password?</button>
          
</body>